:root {
    --box-shadow: 1px 1px 9px 7px #2747bc;
    --box-shadow2: 1px 1px 50px 10px #2747bc;
}

body {
    background-color: #080f28;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 30px;
}

header nav a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header nav .li-escritorio .color:hover {
    color: #2747bc;
}

.ul-escritorio {
    display: flex;
    justify-content: left;
    align-items: center;
}

.li-escritorio {
    list-style-type: none;
    margin-left: 20px;
    width: max-content;
    height: max-content;
    padding-right: 10px;
}

.li-escritorio a {
    margin-right: 5px;
}

.div-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
}

.div-logo a img {
    margin: 10px 0 10px 10px;
}

.div-logo a h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.menu-desplegable {
    background-color: #080f28;
    background-color: ;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px -1px 5px 3px #2747bc;
}

.menu-desplegable a {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 180px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.menu-desplegable li {
    list-style: none;
    text-align: left;
    margin-bottom: 3px;
}

.menu-desplegable li a {
    border-radius: 20px;

    transition: box-shadow .2s;
}

.menu-desplegable li a:hover {
    box-shadow: 1px 1px 8px 5px #1f3fb3;
}

.menu-desplegable a img {
    margin-right: 5px;
}

.requisitos:hover .menu-desplegable {
    display: flex;
}

.generos:hover .menu-desplegable {
    display: flex;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

form img {
    position: absolute;
    top: 12px;
    left: 6px;
}

#buscar {
    background-color: #080f28;
    border: 1px solid #1c348c;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    padding-left: 30px;
    overflow: hidden;
    color: white;
    transition: width .25s;
}

#buscar:focus {
    outline: 1px solid white;
    width: 250px;
}

#buscar::placeholder {
    margin-left: 10px;
}

.buscar {
    background-color: #080f28;
    border: 1px solid #1c348c;
    width: 200px;
    height: 40px;
    padding-left: 30px;
    border-radius: 20px;
    overflow: hidden;
    color: white;
}

.altos-requisitos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 10px;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
}

.altos-requisitos-img {
    display: flex;
    justify-content: left;
    align-items: center;
}

.altos-requisitos img {
    margin-right: 10px;
}

.altos-requisitos h2 {
    color: white;
    font-size: 20px;
}

.vermas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c348c;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    transition: background-color .1s;
}

.vermas:hover {
    background-color: #1c348c6e;
}

.altos-requisitos .vermas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.medios-requisitos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 10px;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
}

.medios-requisitos-img {
    display: flex;
    justify-content: left;
    align-items: center;
}

.medios-requisitos img {
    margin-right: 10px;
}

.medios-requisitos h2 {
    color: white;
    font-size: 20px;
}

.vermas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c348c;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    transition: background-color .1s;
}

.vermas:hover {
    background-color: #1c348c6e;
}

.medios-requisitos .vermas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.pocos-requisitos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 0 10px;
    border-radius: 40px;
    box-shadow: var(--box-shadow);
}

.pocos-requisitos-img {
    display: flex;
    justify-content: left;
    align-items: center;
}

.pocos-requisitos img {
    margin-right: 10px;
}

.pocos-requisitos h2 {
    color: white;
    font-size: 20px;
}

.vermas {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c348c;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    transition: background-color .1s;
}

.vermas:hover {
    background-color: #1c348c6e;
}

.pocos-requisitos .vermas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill,
            minmax(300px, 300px));
    justify-content: space-evenly;
    gap: 10px;
    margin: 30px 0;
}

article {
    text-align: center;
    color: white;
}

article img {
    transition: all .3s;
}

article img:hover {
    transform: scale(1.1);
    filter: brightness(0.50);
}

.div-article {
    border-radius: 10px;
    overflow: hidden;
}

.div-article img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: auto;
}

.sobre-nosotros {
    text-align: center;
    padding: 30px 30px 10px 30px;

}

.sobre-nosotros h2 {
    color: white;
}

.sobre-nosotros hr {
    background-color: #2747bc;
    height: 5px;
    border: 0;
    box-shadow: var(--box-shadow2);
}

.sobre-nosotros p {
    color: white;
}

footer {
    background-color: #101d4e6d;
    padding: 20px;
}

.div-link-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-link-footer a {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
}

.div-link-footer a:hover {
    text-decoration: underline;
}

.div-link-footer a img {
    margin-right: 5px;
}

.div-link-footer p {
    color: white;
    margin: 0;
}

.div-menu {
    display: none;
}

.responsive {
    display: none;
}

.div-form {
    display: none;
}

.nav {
    display: none;
}

@media screen and (max-width:1000px) {
    .div-menu:hover>.nav {
        display: block;
    }

    .div-desaparece {
        display: none;
    }

    form {
        margin-bottom: 50px;
        width: 220px;
    }

    .div-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav {
        display: none;
        background-color: #080f28;
        position: fixed;
        top: 0;
        left: -100%;
        left: 0;
        z-index: 1;
        margin: 0;
        width: 50%;
        height: 100%;
        transition: all .5s;
        overflow: scroll;
    }

    .lista-menu-responsive {
        padding: 0;
    }

    .encabezados-responsive {
        list-style: none;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .lista-menu-responsive img {
        margin-left: 5px;
    }

    .encabezados-responsive a {
        color: white;
        margin: 0;
    }

    .requisitos-responsive {
        padding: 0;
    }

    .requisitos-responsive li {
        list-style: none;
    }

    .generos-responsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .generos-responsive li {
        list-style: none;
    }

    .responsive {
        display: flex;
        margin-bottom: 100px;
    }

    .div-menu {
        display: block;
    }

    header nav a {
        display: flex;
        margin: 0 0 30px 0;
        justify-content: center;
        align-items: center;
        color: #2747bc;
    }
}

@media screen and (max-width:1040px) {
    #buscar {
        width: 140px;
    }

    #buscar:hover {
        width: 140px;
    }
}

@media screen and (max-width:600px) {
    header nav {
        width: 70%;
    }
}

@media screen and (max-width:425px) {
    header {
        margin: 40px 10px;
    }

    header h1 {
        font-size: 25px;
    }

    .div-form {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width:375px) {
    header {
        margin: 40px 10px;
    }

    header nav {
        width: 80%;
    }

    .div-link-footer {
        flex-direction: column;
    }

    .div-form {
        width: 100%;
    }
}